altair==5.5.0
amqp==5.3.1
antlr4-python3-runtime==4.9.3
anyio==4.11.0
apache-libcloud==3.8.0
async-timeout==5.0.1
attrs==25.4.0
azure-core==1.36.0
azure-storage-blob==12.17.0
beautifulsoup4==4.12.3
billiard==4.2.2
blinker==1.9.0
cachetools==6.2.1
cattrs==25.3.0
celery==5.3.1
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.4
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
click-shell==2.1
contourpy==1.3.2
coverage==7.11.2
cryptography==46.0.3
cycler==0.12.1
dateparser==1.2.2
distro==1.9.0
dnspython==2.8.0
docstring_parser==0.17.0
email-validator==2.3.0
exceptiongroup==1.3.0
execnet==2.1.1
fastapi==0.99.1
flake8==7.3.0
fonttools==4.60.1
gitdb==4.0.12
GitPython==3.1.45
google-auth==2.43.0
h11==0.16.0
html5lib==1.1
httmock==1.4.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
idna==3.11
iniconfig==2.3.0
isodate==0.7.2
itsdangerous==2.2.0
jaclang==0.6.1
jaseci==1.4.2.6
Jinja2==3.1.6
jiter==0.11.1
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
kiwisolver==1.4.9
kombu==5.3.1
kubernetes==21.7.0
lsprotocol==2025.0.0
lxml==4.9.4
MarkupSafe==3.0.3
matplotlib==3.10.7
mccabe==0.7.0
mock==5.2.0
narwhals==2.10.2
numpy==1.23.5
oauthlib==3.3.1
openai==2.7.1
orjson==3.11.4
packaging==25.0
pandas==2.3.3
pep8-naming==0.15.1
pillow==12.0.0
pluggy==1.6.0
prettytable==3.7.0
prometheus-api-client==0.5.1
prometheus-client==0.14.1
prompt_toolkit==3.0.52
protobuf==6.33.0
psycopg2-binary==2.9.5
pyarrow==21.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycodestyle==2.14.0
pycparser==2.23
pydantic==1.10.24
pydeck==0.9.1
pyflakes==3.4.0
pygls==1.0.2
Pygments==2.19.2
pyparsing==3.2.5
pytest==9.0.0
pytest-cov==7.0.0
pytest-xdist==3.8.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-magic==0.4.27
python-multipart==0.0.20
pytz==2025.2
PyYAML==6.0.3
redis==7.0.1
referencing==0.37.0
regex==2025.11.3
requests==2.32.5
requests-oauthlib==2.0.0
rpds-py==0.28.0
rsa==4.9.1
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.8
starlette==0.27.0
streamlit==1.51.0
stripe==13.2.0
tenacity==9.1.2
toml==0.10.2
tomli==2.3.0
tornado==6.5.2
tqdm==4.67.1
typeguard==3.0.2
typing_extensions==4.15.0
tzdata==2025.2
tzlocal==5.3.1
ujson==5.11.0
urllib3==2.5.0
uvicorn==0.38.0
uvloop==0.22.1
validators==0.21.2
vine==5.1.0
watchdog==6.0.0
watchfiles==1.1.1
wcwidth==0.2.14
webencodings==0.5.1
websocket-client==1.9.0
websockets==15.0.1
